p {
    font-family: CC, monospace;
}

main>section {
    display: flex;
    flex-direction: column;
    align-items: center;

    &>div {
        display: flex;
        justify-content: center;

        &>a>div {
            display: flex;
            flex-direction: column;
            align-items: center;

            &>div {
                display: flex;
                align-items: center;

                h3 {
                    writing-mode: vertical-lr;
                }

                figure img {
                    width: 15rem;
                }
            }
        }
    }
}

main {
    display: flex;
    justify-content: center;

    margin-top: 5em;

    h3 {
        font-family: 'Reggae One', fantasy;
    }

    a:link,
    a:hover {
        color: black;
        text-decoration: none;
    }
}

@media screen and (min-width:1000px) {
    main {
        margin-top: 0
    }

    ;
}