$pFontSize: 1.3rem;

main {
    display: flex;
    justify-content: center;
    margin-right: 2em;
    margin-left: 2em;

    h1 {
        margin-top: 1em;
        margin-bottom: .6em;

        font-size: 2.5rem;
    }

    p {
        font-size: $pFontSize;
        width: 80vw;

        font-size: $pFontSize;
    }

    img {
        width: 100%;
        border-radius: 50%;
    }

}


@media screen and (min-width:1000px) {
    main {
        h1 {
            font-size: 3rem;
        }

        &>div {
            max-width: 1200px;

            &>div {
                display: flex;

                p {
                    font-size: $pFontSize*1.2;
                    width: auto;
                }

                figure {
                    margin-top: 2em;
                    margin-right: -10em;

                    img {
                        width: 800px;
                        border-radius: 40%;
                    }
                }
            }
        }
    }
}