{% extends 'mechanics/layoutDev.html' %}
{% load static %}

{% block head %}
<!-- fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'mechanics/css/CC.css' %}">

<link rel="stylesheet" href="{% static 'mechanics/css/about.css' %}">
{% endblock head %}

{% block title %}
    About Us
{% endblock title %}

{% block main %}
<section>
    <div>
        <a href="https://devlaunchers.com">
            <div>
                <h3>Dev Launchers</h3>
                <div>
                    <h3>Dev Launchers</h3>
                    <figure>
                        <img src="https://devlaunchers.com/_next/static/images/logo-monogram-a80dee4a898c69e190dee66411b8ffef.png" alt="Dev Launchers Logo">
                    </figure>
                    <h3>Dev Launchers</h3>
                </div>
                <h3>Dev Launchers</h3>
            </div>
        </a>
    </div>
    <p>Dev Launchers mentored this project.</p>
</section>
{% endblock main %}